
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


:root {
    --first-color: #4070f4;
    --second-color: #0e2431;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: var(--second-color);
    scroll-behavior: smooth;
}

header {
    height: 100vh;
}


li, a {
    text-decoration: none;
    list-style: none;
    font-weight: 600;
}



nav {
    position: fixed;
    height: 60px;
    background: #fff;
    z-index: 10;
    left: 0;
    right: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 35px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1), 0 0 10px rgba(0,0,0,0.1) inset;
}

.menu li {
    display: inline-block;
    padding: 0 20px;
}

.logo {
    order: 1;
    cursor: pointer;
    font-size: 20px;
    font-weight: 600;
}

.menu {
    order: 2;
    margin-left: auto;
}

.nav-icon {
    order: 3;
    display: none;
    cursor: pointer;
}

#nav-toggle {
    display: none;
}

li a:hover {
    border: 2px solid var(--first-color);
    border-left: none;
    border-right: none;
    border-top: none;
    padding-bottom: 5px;
    outline: none;
}



@media screen and (max-width: 540px) {
   
    .nav-icon {
        font-size: 20px;
    }
    .logo {
        font-size: 20px;
        font-weight: 600;
    }
    
    .nav-icon {
        display: block;
    }
    #nav-toggle:checked~.menu {
        right: 0;
    }
    .menu li {
        padding-top: 40px;
        padding-left: 40px;
    }
    li a{
        color: #fff;
        position: relative;
    }
    
}

<i class="fab fa-instagram-square"></i>
/* !Home */

#home {
    padding: 80px 35px;
}

.container {
    max-width: 1300px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}



.home-title {
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 20px;
}

.left {
    flex-basis: 50%;
    margin-top: 150px;
}

.right {
    flex-basis: 50%;
    margin-top: 100px;
}

.right img {
    max-width: 45%;
}

.btn {
    padding: 10px 30px;
    background: var(--first-color);
    color: #fff;
    outline: none;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    margin-bottom: 200px;
}

.btn:hover {
    background: #3461db;
}

.tanin {
    color: var(--first-color);
}

.social a{
    padding-right: 20px;
    font-size: 25px;
}

.social i:hover{
    color: var(--first-color);
}




@media screen and (max-width: 540px) {
    #home {
        padding: 70px 35px;
    }
    .container {
        display: flex;
        flex-direction: column;   
        align-items: unset;
    }

    .right img {
        display: flex;
        justify-content: center;
        max-width: 85%;
        padding: 0 50px;
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 30px;
    }

    .social a {
        font-size: 20px;
    }

    .home-title {
        font-size: 28px;
    }

    .btn {
        margin-bottom: 50px;
    }


}






/* About */



.title{
    display: flex;
    justify-content: center;
    padding-top: 40px;
}

.container-2  {
    max-width: 1300px;
    margin: auto;
    padding-left: 50px;
    padding-right: 50px;
}

.row {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.col-2 {
    flex-basis: 50%;
    min-width: 300px;
}

.col-2 h3, h3 {
    cursor: pointer;
}

.col-2 img {
    max-width: 50%;
    padding: 70px 0;
    margin-left: 50px;
}



@media screen and (max-width: 540px) {
    .left {
        margin-top: 10px;
    }

    .right {
        margin-top: 0;
    }
    .col-2 img {
        display: flex;
        justify-content: center;
        max-width: 100%;
        padding: 0 50px;
        margin-bottom: 20px;
        margin-left: 0;
    }
    .title {
        font-size: 24px;
        padding-top: 0;
        padding-bottom: 40px;
    }
    .col-2 h1 {
        font-size: 24px;
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
    }
    .pra {
        display: flex;
        justify-content: center;
        font-size: 14px;
        margin-bottom: 20px;
    }
}